<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="conteiner p-5" id="app">
        <div class="header">
            <h1></h1>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form">
                    <form>
                        <div class="form-group">
                            <label>Имя</label>
                            <input v-model="stud_obj.stud_name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Фамилия</label>
                            <input v-model.lazy="stud_obj.secondname" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Дата рождения</label>
                            <input v-model.lazy="stud_obj.dateInput" type="date" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Группа</label>
                            <input v-model.lazy="stud_obj.stud_group" class="form-control">
                        </div>
                        <button v-on:click="addItem" type="button" class="btn btn-primary">Записать</button>
                    </form>
                </div>
            </div>
            <div class="col-md-8">
                
                        <ul v-for="(student, index) in students" class="ul-li">
                            <li><input type="checkbox" name="" id=""></li>
                            <li>{{student.name}}</li>
                            <li>{{student.secondname}}</li>
                            <li>{{student.age}}</li>
                            <li>{{student.stud_group}}</li>
                            <li><button type="button" class="btn btn-secondary" @click="addChange">Изменить</button></li>
                        </ul>
                    
                <button :click="deleteAll" type="button" class="btn btn-danger">Удалить</button>

                <br>
                <hr>
                {{students}}
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="Vue/app.js"></script>
</body>

</html>